name: Validate

on:
  push:
    branches: [master]
  pull_request:

jobs:
  validate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: opentofu/setup-opentofu@v1
        with:
          tofu_version_file: .opentofu-version

      - run: tofu fmt -check

      - run: tofu init -backend=false

      - run: tofu validate
